body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px;
  padding: 2rem;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  margin-top: 2rem;
}

.header-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1.25rem;
}

.form-label {
  font-weight: bold;
}

.btn-custom {
  border-radius: 30px;
  font-size: 1rem;
  margin-top: 1.5rem;
}

.location-list .form-check-label {
  font-size: 1rem;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-secondary {
  background-color: #F0F1F2;
  color: #6c757d;
  border:  none;
}

.location-list {
  margin-bottom: 1.5rem;
}

.location-list .form-check {
  margin-bottom: 1rem;
}

.dropdown-menu {
  width: 100%;
}

.list-group-item {
  border: none;
}

.action-buttons .btn {
  border-radius: 30px;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}