
body{
  font-family: gothambook;
}


h2 {
  color: black;
  font: 33px sans-serif;
  margin-top: 30px;
  text-align: left;
}

hr {
  border-top: 1px solid #707b7c;
  width: 550px;
  margin-left: 0%;
}


.chart_screenII{
  width: 100% !important; 
  height: 100% !important;
}


.chart_screenIII{
  width: 130% !important; 
  height: 170% !important;
}

.chart_screenIV{
  width: 180% !important; 
  height: 150% !important;
}