.load-wrapp{
  margin-top: 100px;

}

.line {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background-color: #E5514B;
}

.load-3 .line:nth-last-child(1) {
  animation: loadingC 0.6s 0.1s linear infinite;
}
.load-3 .line:nth-last-child(2) {
  animation: loadingC 0.6s 0.2s linear infinite;
}
.load-3 .line:nth-last-child(3) {
  animation: loadingC 0.6s 0.3s linear infinite;
}
.load-3 .line:nth-last-child(4) {
  animation: loadingC 0.6s 0.4s linear infinite;
}



@keyframes loadingC {
  0 {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0);
  }
}