.gradient-custom {
    /* fallback for old browsers */
    background: #011640;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(1, 22, 64, 1), rgba(26, 55, 110, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(1, 22, 64, 1), rgba(26, 55, 110, 1));
}
