.title_tables h3 {
  color: black;
  font: 33px gothambook;
  margin-top: 30px;
  text-align: left;
}


.hrFirstElement {
  border-top: 1px solid #707b7c;
  width: 500px;
  margin-left: 0%;
}



body{
  font-family: gothambook;
}

#firstElement{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.leaflet-popup-content-wrapper {
  background: #e0e0e0;
}

.leaflet-popup-tip{
  background: #e0e0e0;
}

.easy-button-button {
  display: block !important;
}

.tag-filter-tags-container {
  left: 30px;
}
