

h2 {
  color: black;
  font: 33px sans-serif;
  margin-top: 30px;
  text-align: left;
}

hr.hr_firts_element {
  border-top: 1px solid #707b7c;
  width: 530px;
  margin-left: 0%;
}


hr.hr_fourth_element {
  border-top: 1px solid #707b7c;
  width: 565px;
  margin-left: 0%;
}


hr.hr_fiveth_element {
  border-top: 1px solid #707b7c;
  width: 620px;
  margin-left: 0%;
}


hr.hr_sixth_element {
  border-top: 1px solid #707b7c;
  width: 575px;
  margin-left: 0%;
}

hr.hr_seventh_element {
  border-top: 1px solid #707b7c;
  width: 1040px;
  margin-left: 0%;
}

hr.hr_eigth_element {
  border-top: 1px solid #707b7c;
  width: 990px;
  margin-left: 0%;
}

hr.hr_nineth_element {
  border-top: 1px solid #707b7c;
  width: 260px;
  margin-left: 0%;
}

hr.hr_tenth_element {
  border-top: 1px solid #707b7c;
  width: 910px;
  margin-left: 0%;
}

body{
  font-family: gothambook;
}