:root {
  --yellowLKF: #FFA823;
  --yellowLKF-light: #dcdcdc;
  --downloadButton: #003285;
  --text-gray: #616161;
  --soft-gray: #dcdcdc;
  --dark-gray: #404040;
}

.header{
  background: #F2DEBA;
}

body{
  margin: 0px;
}

/*Styles Div*/
 .iti {
    width: 100% !important;
 }

.div-card-portal{
  min-height: 120px !important;
}

.div-search-portal{
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}

.div-container-portal{
  margin-top: 25px !important;
  border-radius: 10px;
  border: 1px solid grey;
}

.div-container-table{
  max-height: 245px !important;
  overflow: auto;
}

.div-container-table-comments{
  max-height: 300px !important;
  overflow: auto;
}

.div-containerTable-portal{
  min-height: 220px !important;
  overflow: auto;
  margin-top: 25px !important;
  border-radius: 10px;
  border: 1px solid grey;
}

#myTabContent{
  overflow: auto;
}

/* Styles Input */
.input-search-portal{
  margin-left: 10px;
  border: 1px solid black !important;
}

.cursor-pointer {
  cursor: pointer;
}

.btn-rounded-portal{
  width: 20px;
  height: 20px;
  border-radius: 50%;  
}

.btn-table-bitacora{
  width: 20px !important;
  height: 20px !important;
  margin-left: 10px !important;
  background: none !important;
  border: none ;
  i{
    margin-left: -5px;
    margin-top: -5px;
    font: 15px;
  }
}


/* Data */


/* Estilos de la tabla */
table {
  width: 100%;
  background-color: none;
  /*border-collapse: collapse;*/
  /*border: 2px solid #ddd;  Borde de la tabla */
}

th, td {

  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd; /* Borde de las celdas */
}

/* Estilos para las filas impares */
tr:nth-child(odd) {
  /*background-color: #ebebeb !important;*/ /* Color de fondo para filas impares */
}

/* Estilos para la primera fila (encabezados) */
th {
  border-top: 1px solid #ddd; 
  /*background-color: #F2DEBA;*/ /* Color de fondo para los encabezados */
  color: black; /* Color del texto de los encabezados */
}



/*Dropdowns COlors*/


/* Estilo para el contenedor del dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Estilo para el botón del dropdown */
.dropdown button {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
}

/* Estilo para la lista desplegable */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 1;
}

/* Estilo para las opciones del dropdown */
.dropdown-content option {
  display: block;
  padding: 5px 10px;
  cursor: pointer;
}

/* Mostrar la lista desplegable al pasar el ratón sobre el contenedor del dropdown */
.dropdown:hover .dropdown-content {
  display: block;
}


/*Tabulator Styles*/
.tabulator{
  border: none !important;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.11) 0px 0px 0px 1px !important;
  border-color: lightgray;
  overflow-x: auto;
  background-color:#fafafa !important;
}

.tabulator-cell{
  border:none  !important;
}

.tabulator .tabulator-header .tabulator-col{
  background: var(--yellowLKF-light) !important;
  color: #292929 !important;
  border:none  !important;
  padding-left: 5px;
}



.tabulator-header {
  border-bottom: .5px solid;
  border-color: lightgray !important;
}

.tabulator-footer{
  background: #fafafa !important;
  border-color: lightgray !important;
}

.tabulator-tableholder{
  /*border-color: lightgray !important;*/
}

.tabulator-page{
  /*border:none !important;*/
}

.tabulator-page:hover{
  color:#292929 !important;
}

.tabulator-row:hover{
  background-color: lightgray !important;
}

.tableOverflow{
  width: 100% !important;
}


/* LOAD */
.load-wrapp{
  margin-top: 100px;
}

.button-add-register{
  width: 22.5px !important;
  height: 22.5px !important;
  border-radius: 15px !important;
  padding-top: 0px !important;
  padding-left: 3px !important;
}

.button-delete-register{
  width: 22.5px !important;
  height: 22.5px !important;
  border-radius: 15px !important;
  padding-top: 0px  !important;
  padding-left: 3px  !important;
}

.line {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  margin-right: 5px;
}

.load-3 .line:nth-last-child(1) {
  background-color: #E5514B;/* RED*/
  animation: loadingC 0.6s 0.1s linear infinite;
}

.load-3 .line:nth-last-child(2) {
  background-color: #9B59B6;/* Purple*/
  /* background-color: #F1C40F;/* yellow*/
  animation: loadingC 0.6s 0.2s linear infinite;
}

 .load-3 .line:nth-last-child(3) {
   background-color: #3498DC;/* Blue*/
  animation: loadingC 0.6s 0.3s linear infinite;
}

.load-3 .line:nth-last-child(4) {
  background-color: #2DCC71;/* Green*/
  animation: loadingC 0.6s 0.4s linear infinite;
}


@keyframes loadingC {
  0 {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.styleTable{
  padding: 0px;
 }

.buttonIniciarTurno{
  margin-top:30px;
  margin-botton:30px;
  margin-right: 12%;
}


/*Navbar style*/
.custom-navbar-button{
  border: none !important;
  color: transparent !important;
}

 .customNoBorder:focus, .customNoBorder:active, .customNoBorder:hover {
  border: none !important;
  box-shadow: none !important ;

}

.custom-navbar-button{
  color: #292929 !important;
  background-color: transparent !important;
}

.btn:hover{
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.customNoBorder {
  border: none !important;
}

.custom-navbar-button:hover{
  background-color: #0275d8 !important;
  border: none !important;
  box-shadow: none !important;
  color: whitesmoke !important;
}

.btn{
  padding-left: 5px;
  padding-right: 5px;
}

.customButtonSquare{
  border-radius: 5px !important;
}

.nav-link{
  color: grey;
}

.nav-link:hover{
  color: black;
}

/*------------------------*/

/*Sweet Alert Style*/
.swal2-styled{
  padding: 5px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  min-width: 50px;
}

.swal2-styled:hover, .swal2-styled:active, .swal2-styled:focus{
  border: none !important;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.swal2-confirm{
  background-color: #198754 !important;
}

/*-----------------------*/

.form-check-input {
  width: 1px;
}

.tabulator-cell{
  align-items: center;
}

.form-check-input{
  margin-top: 20px !important;
  padding: 7px;
  padding-left: 7px !important;
  padding-right:7px !important;
  width: 5px !important;
  height: 5px !important; 
}

.buttonTrash{
  margin-top: 20px !important;
  margin-left: 0px !important;
  margin-right: 0px;
}

.mainSection{
  margin-top: 25px !important;
}

.mainSectionMargins{
  margin-left:30px !important;
  margin-right:30px !important;
}

#myCustomNavBar{
  z-index: 1 !important;
  position: fixed !important; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  border: none !important;
  background-color: white !important;
}

.myCustomDropdown{
  z-index: 999 !important;
}

#imageUserNavbar{
  width: 40px;
  height: 40px;
  border-radius: 50px;

}

#imageUserButton{
  padding: 0px !important;
  margin-top: 0px !important;
  border: none !important;
}

#imgGuardiaApoyo{
  background-color: white;
  object-fit:  scale-down;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

#imgProfilePic{
  object-fit:  scale-down;
  background-color: white;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

}

.customShadow { 
  border: none !important;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

input[type=search]{
  border-radius: 4px;
  border: 1px solid #c4c4c4;
  border-color: lightgray;
}

.customCard{
 border: none !important;
 box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.headerColor{
  background-color: var(--yellowLKF) !important;
}

#inputCodeUser{
  border-color: lightgray !important;
}

.myCustomBtnGroup{
  background-color: var(--yellowLKF)!important;
  border-color: lightgray !important;

}

.downloadButton{
  background-color: var(--downloadButton)!important;
  color: whitesmoke !important;
}

/* COLLAPSE */

.accordion-item:not(.collapsed){
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.accordion-item{
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.accordion-button{
  padding: 0px !important;
  margin: 0px !important;
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.accordion-button{
  padding: 5px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  background-color: white !important;
  color: black !important;
  border: .5px solid #e0e0e0 !important;
  border-radius: 5px !important;
}

.nav-item > button, .nav-tabs > button {
  padding-top: 2px !important;
   padding-bottom: 2px !important;
}

.overflowCustom{
  overflow-x: auto;
  border: none!important;
  max-width:580px; 
  max-height: 140px;
}

.overflowCustomHead{
  position: sticky !important;
  top: 0 !important; 
  z-index: 1 !important;
}

.ocultar{
  display: none!important;
}


/* Botones circulares */

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 0;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 0;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

#tableListaPasesActivos{
  overflow: auto !important;
  border: none !important; 
  width: 735px; 
  margin-left: 15px; 
  max-height: 50px !important;
}


.btn-circle {
    width: 30px!important; /* Tamaño del botón */
    height: 30px!important;
    margin-right: 5px !important; /* Tamaño del botón */
    border-radius: 50%!important; /* Hace el botón circular */
    display: flex!important; /* Alineación del texto */
    align-items: center!important; /* Alineación vertical */
    justify-content: center!important; /* Alineación horizontal */
    padding: 0!important; /* Elimina el padding por defecto */
}


.checkboxBottom{
    margin-bottom: 20px !important;
    align-items: center;
}
.btn-width{
     height: 31px;
}

.rounded {
    width: 120px; /* Ancho de la imagen */
    height: 120px; /* Alto de la imagen */
    border-radius: 50% !important; /* Redondea la imagen a un círculo */
    object-fit: cover;
}

.recta {
    width: 150px; /* Ancho de la imagen */
    height: 120px; /* Alto de la imagen */
    border-radius: 5% !important; /* Redondea la imagen a un círculo */
    object-fit: cover;
}
.custom-swals {
    width: 1000px; /* Ajusta el ancho del modal */
    height: 400px; /* Ajusta la altura del modal */
}



.image-container {
      width: 350px; /* Ajusta el ancho según tus necesidades */
      overflow: auto; /* Permite el desplazamiento si el contenido excede el tamaño del contenedor */
      white-space: nowrap; /* Evita que las imágenes se envuelvan a la siguiente línea */
      position: relative;
      scrollbar-color: #111 ;
    }



.image-container img {
  min-width: 95%;
  max-width: 100%; /* Ajusta el ancho según tus necesidades */
  max-height: 300px; 
  display: inline-block; /* Muestra las imágenes en línea */
  object-fit: cover;
  vertical-align: top!important;
}


/* Ancho de columna para pantallas extra grandes */
/*@media (min-width: 1200px) {
    .col-xl-custom {
      flex: 0 0 38%; 
      max-width: 40%;
      min-width: 40% !important;
    }
    .custom-responsive{
      display: flex;
      flex-direction: row;
    }
}*/

/* Ancho de columna para pantallas más pequeñas */
/*@media (max-width: 1199px) {
    .col-xl-custom {
      flex: 0 0 38%; 
      max-width: 40%;
      min-width: 100% !important;
    }
    .custom-responsive{
      display: flex;
      flex-direction: column;
    }
}*/

.text-gray {
  color: var(--text-gray); /* Mantiene la relación de aspecto */
}


  .time-selector {
    display: flex;
    justify-content: center;
    align-items: center;
}
.time-select {
    width: 10px; /* Ancho pequeño */
    margin: 0 0px; /* Espaciado entre selects */
    margin-left: 5px;
}

.bg-warning-subtle{
  background-color: whitesmoke !important;
}

.btn-outline-success{
  background-color: none;
  border-color: lightgray!important;
  color: black!important;
  cursor: auto !important;
}

.color-white{
  color: whitesmoke!important;
}

.btn-custom:hover {
    background-color: none!important; /* Change to your desired color */
    box-shadow: none !important;
}
.btn:hover{
  background-color: none!important;
}

.text-dark-black{
    color: var(--dark-gray);
}
/**/


.stylePersona{
  background-color: var(--soft-gray);
  padding: 10px;
  width: 50%;
 
}

.roundDiv{
  border-radius: 15px; /* Radio de las esquinas */
}

.custom-color {
    color: yellow; /* Cambia el color de la estrella */
}

.navbar-icon-circle{
  background: #F0F3F4;
  border-radius: 50%;
  padding: 5px 10px;
}

.menu-grid-item{
  background: #F0F3F4;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.menu-grid-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 8px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.menu-grid-item:active {
  transform: translateY(3px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.no-select {
  user-select: none;
}

.qr-pass-container{
  background: #fff;
  border-radius: 10px;
}

.fs-7{
  font-size: 0.8rem;
}

.off{
  background-color: lightgray;
}

.form-radio-input {
  display: none;
}

.form-radio-input:checked + .form-radio-label {
  cursor: pointer;
  background-color: #007bff;
  padding: 5px 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
  color: #FEFFFE;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.form-radio-input + .form-radio-label {
  cursor: pointer;
  background-color: #FEFFFE;
  padding: 5px 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
  color: #007bff;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.form-radio-input + .form-radio-label:hover {
  background-color: #FEFFFE;
  color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-radio-input:checked + .form-radio-label:hover {
  background-color: #0056b3;
  color: #FEFFFE;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.checkbox-group-dias input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  pointer-events: all;
  width: 20px; 
  height: 20px;
}

.checkbox-group-dias label {
  cursor: pointer;
  background-color: #FEFFFE;
  padding: 5px 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
  color: #007bff;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  display: inline-block;
}

.checkbox-group-dias label.activo {
  background-color: #007bff;
  color: #FEFFFE;
  border-color: #007bff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.checkbox-group-dias label:hover {
  background-color: #FEFFFE;
  color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.checkbox-group label.activo:hover {
  background-color: #0056b3;
  color: #FEFFFE;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 576px) {
  .modal-dialog {
      max-width: 85%;
  }
}