
body{
  font-family: gothambook;
}


h2 {
  color: black;
  font: 33px sans-serif;
  margin-top: 30px;
  text-align: left;
}

hr {
  border-top: 1px solid #707b7c;
  width: 400px;
  margin-left: 0%;
}


.chart_screenII{
  width: 1800px !important; 
  height: 650px !important;
}


.chart_screenIII{
  width: 130% !important; 
  height: 170% !important;
}

.chart_screenIV{
  width: 180% !important; 
  height: 150% !important;
}

.chart_screenV{
  width: 1800px !important; 
  height: 850px !important;
}

.chart_screenVI{
  width: 1300px !important; 
  height: 650px !important;
}

.title_semana{
  color: #5DADE2;
}