.title_tables h3 {
  color: black;
  font: 33px gothambook;
  margin-top: 30px;
  text-align: left;
}


.hrFirstElement {
  border-top: 1px solid #707b7c;
  width: 470px;
  margin-left: 0%;
}

body{
  font-family: gothambook;
}
