
.inicio_ses{
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.title{
  width: 30%;
  text-align: center;
  margin-bottom: 20px;
}

.title .userTxt{
  margin-bottom: 20px;
}

.control{
  width: 25%;
  margin: 0 auto ;
}

.control .renglon h3{ font-size: 1.3em; color: #101e43; font-weight: bold; }

.controlBtn{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.controlBtn .btn{
  background: #334769;
  border: 1px solid #334769;
  border-radius: 0px;
  color: white;
  margin: 5px;
}

.uno{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
  margin-bottom: 20px;
}

.control input{
  margin-bottom: 20px;
  width: 100%;
}

.title .ambuControl{
  margin-top: 30px;
}
/*
.control .btn{
  background: #334769;
  border: 1px solid #334769;
  border-radius: 0px;
  color: white;
  float: left;
}*/

.card{
  margin-bottom: 10px;
}

.log-type{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.log-type i{
  font-size: 1.75rem;
}

.log-type h3{
  margin: 0;
}

.auth-status{
  text-align: center;
}

.autorized{
  background: #bfb800;
}

.unauthorized{
  background: #ea7600;
  color: white;
}


.location-body{
  text-align: center;
}

.loading-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: 1000;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.3);
}

.opcionBtn{ width: 50%; display: inline-block; text-align: center; margin: 0 0 50px; }
.opcionBtn img{ cursor: pointer;}
#tableNomina thead th, #tableComisiones thead th{ background: #101e43; vertical-align: middle;}
.controlBtn .btn{ border-radius: 5px; padding: 8px 30px;}
.imagen_perfil{ width: 100%; display: block;}
.imagen_perfil img{ max-width: 100%; border-radius: 3px;}
#name_usu{ text-transform: uppercase; }
.informativo{ width: 100%; height: auto; display: block; background: #636d6f; margin: 0 0 20px; border-radius: 5px;}
.informativo .bienvenida{ padding: 20px; color: #FFFFFF; font-size: 1.3em; font-weight: bold; }
.informativo .bienvenida span{ text-transform: uppercase;}
#detalleUsuNom .informativo{ background: #2f3434;}
#detalleUsuNom .informativo .bienvenida{ text-align: center;}
.fechas_carga{ width: 100%; height: auto; display: none; background: #101e43; margin: 0 0 20px; border-radius: 5px; }
.fechas_carga .carga{ padding: 20px; color: #FFFFFF; font-size: 1.3em; font-weight: bold; }
#divNominaContratista thead th{ background-color: #2f3434; vertical-align: middle; color: #FFFFFF;}
#tableComisiones thead th { width: 240px; }
#tableComisiones {table-layout: fixed; width: 100%; border-collapse: collapse; }
#tableComisiones th, td { padding: 20px; }
#tableContratista .centrado{ text-align: center; cursor: pointer;}
#tableContratista .centrado i{ font-size: 1.2em;}
#infoContra tr td.izq{ background-color: #2f3434; color: #FFFFFF; font-weight: bold;}
#infoContra tr td:nth-child(2){ text-transform: uppercase;}
#detallesContra tr td:nth-child(1){ width: 35%; }
#detallesContra tr td:nth-child(2){ width: 65%; }
.table-bordered .encabezado{ background: #b4b3b4; border-color: #b4b3b4;}
.table-bordered .remanente{ background: #2f3434; border-color: #2f3434; color: #FFFFFF; font-weight: bold;}
.renglon_eye .info{ width: 90%; display: inline-block; }
.renglon_eye a{ color: #212529; }
.renglon_eye i{ width: 10%; display: inline-block; font-size: 1.2em;}
.renglon_eye .renglon_titu{ width: auto; display: inline-block; margin-right: 15px; }
.detalle{ display: inline; }
.detalle i{ cursor: pointer;}

@media all and (max-width:1080px){
 .app{padding: 0;}
}

@media all and (max-width:1024px){
  .control{ width: 40%;}
}

@media all and (max-width:780px){
  .control{ width: 40%;}
}

@media all and (max-width:649px){
  .control{ width: 80%;}
  .header .navbar-brand h1{ padding: 10px 0 0;}
}

@media all and (max-width:500px){
  .header .navbar-brand h1 { margin: 25px 0 0;}
  .controlBtn{display: block;}
  .opcionBtn{ width: 100%;}
}

.div_class
{
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
}


h2 {
  color: black;
  font: 33px sans-serif;
  margin-top: 30px;
  text-align: left;
}

hr {
  border-top: 1px solid #707b7c;;
}
