
h2 {
  color: black;
  font: 33px sans-serif;
  margin-top: 30px;
  text-align: left;
}

hr {
  border-top: 1px solid #707b7c;;
}

body{
  font-family: gothambook;
}

.green-HrfirstElement {
  border-top: 1px solid #707b7c;
  width: 360px;
  margin-left: 0%;
}


.green-HrThirdElement {
  border-top: 1px solid #707b7c;
  width: 300px;
  margin-left: 0%;
}



.stock-HrfirstElement {
  border-top: 1px solid #707b7c;
  width: 360px;
  margin-left: 0%;
}

.account-HrfirstElement {
  border-top: 1px solid #707b7c;
  width: 360px;
  margin-left: 0%;
}




.technician-HrfirstElement {
  border-top: 1px solid #707b7c;
  width: 380px;
  margin-left: 0%;
}
.technician-HrfourthElement {
  border-top: 1px solid #707b7c;
  width: 380px;
  margin-left: 0%;
}
.technician-HrfivethElement {
  border-top: 1px solid #707b7c;
  width: 380px;
  margin-left: 0%;
}
.technician-HrseventhElement {
  border-top: 1px solid #707b7c;
  width: 400px;
  margin-left: 0%;
}
.technician-HrtenthElement {
  border-top: 1px solid #707b7c;
  width: 400px;
  margin-left: 0%;
}
.technician-HreleventhElement {
  border-top: 1px solid #707b7c;
  width: 460px;
  margin-left: 0%;
}


.plan_production-HrfirstElement {
  border-top: 1px solid #707b7c;
  width: 350px;
  margin-left: 0%;
}

.card_border_none {
  border:none;
}


.plan_production_card_secondary {
  margin-bottom: 5px;
  border: solid #b3aca4 2.5px; 
  border-radius: 10px;
}

.plan_production_card_primary {
  margin-bottom: 5px;
  border: solid #157a8c 2.5px; 
  border-radius: 10px;
}

.plan_production_card_success {
  margin-bottom: 5px;
  border: solid #106b87 2.5px; 
  border-radius: 10px;
}

.plan_production_card_info {
  margin-bottom: 5px;
  border: solid #003f69 2.5px; 
  border-radius: 10px;
}

.plan_production_text_title {
  writing-mode: vertical-lr;
  text-align: center;
  color: black;
  
}


.plan_production_card_headerI {
  text-align:center;
  background: #A2C4C9;
}

.plan_production_card_headerII {
  text-align:center;
  background: #D9A9C3;
}

.plan_production_card_headerIII {
  text-align:center;
  background: #FFE599;
}

.plan_production_card_headerIV {
  text-align:center;
  background: #A0CCF2;
}



.plan_production_subcard_headerI {
  text-align:center;
  background: #B6D7A8;
}