
h2 {
  color: black;
  font: 33px sans-serif;
  margin-top: 30px;
  text-align: left;
}

hr {
  border-top: 1px solid #707b7c;;
}

body{
  font-family: gothambook;
}


.stock-HrfirstElement {
  border-top: 1px solid #707b7c;
  width: 360px;
  margin-left: 0%;
}